.no-photo-found {
    margin-top: 7em;
    min-height: 18.57em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .comment {
    margin-top: -0.7em;
    color: #00000071;
    font-size: 1em;
  }

  .oups {
    width: 15%;
    margin: 1em;
  }