.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
  max-width: 30em;
  width: 80%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 5px 5px 8px rgba(27, 1, 100, 0.575);  
}

.logo-container {
  position: absolute;
  top: -0.85em;
  left: 50%;
  transform: translateX(-50%);
  width: 7.14em;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border-radius: 50px;
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: -1.57em;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar-container {
  margin-bottom: 2em;  
}

.icon.info {
  position: absolute;
  font-size: 1.3em;
  top: 0.5em;
  left: 94%;
  color: #404379;
  cursor: pointer;
}

.title-container {
  margin-top: 1em;
  margin-bottom: -1em;
  width: 11.5em;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;
}

/* SearchBar */
.middle-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.80em;
}

.grid-city-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 18.57em;
  max-height: 18.57em;
  overflow: hidden;
}

.city-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.7);
  position: relative;
  z-index: 1;
}

.weather-city-container {
  padding: 3%;
  position: absolute;
  z-index: 2;
  top: 27%;
  left: 40.5%;
  transform: translate(-50%, -50%);
  width: 70%; 
  max-width: 27em;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #1b016493;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000033;
}

/* Small devices (landscape phones, 375px and up) */
@media (min-width: 280px) {
  .grid {
    /* Ajouter des marges autour de l'application */
    margin: 2em;
  }
  .icon.info {
    left: 91%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid {
    /* Styles spécifiques pour min-width: 576px */
    max-width: 30em;
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid {
    /* Styles spécifiques pour min-width: 768px */
    max-width: 36em;
    width: 70%;
  }
  .weather-city-container {
    /* Styles spécifiques pour min-width: 768px */
    padding: 2%;
    left: 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid {
    /* Styles spécifiques pour min-width: 992px */
    max-width: 42em;
    width: 60%;
  }
  .weather-city-container {
    /* Styles spécifiques pour min-width: 768px */
    padding: 2%;
    left: 38%;
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .grid {
    /* Styles spécifiques pour min-width: 1200px */
    max-width: 48em;
    width: 50%;
  }
  .weather-city-container {
    /* Styles spécifiques pour min-width: 768px */
    padding: 2%;
    left: 33%;
  }
}




