.App-container {
  background: radial-gradient(circle at top left, #6c426a, #2a4480);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
