.ui.icon.input {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1.5px solid #ddd;
  border-radius: 16px;
  margin: 1.5em;
  margin-top: -0.3em;
  font-size: 1em;
  width: 23em;
  position: relative;
  transition: all .14s ease-out;
  padding: 0.7em;
}

 /* Champs de saisie */
.ui.icon.input:hover:not([disabled]) {
  box-shadow: 2px 3px 0px #000000;
}

.ui.icon.input input {
  flex: 1;
  /* border: solid 1px black; */
  outline: none;
}

.searchform {
  flex: 1;
  width: 100%;
}

.searchbarinput {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
}

.ui.icon.input input::placeholder {
  position: absolute;
  width: 100%;
  font-style: italic;
  color: #c5c3c3;
}

/* Icone */
.ui.icon.input i {
  position: absolute;
  right: 1em;
  top: 40%;
  transform: translateY(-47%);
  cursor: pointer;
  opacity: 100%;
  color: #c5c3c3;
}

.suggestions {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  /* border: 1px solid #ddd; */
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.suggestions div {
  padding: 12px 16px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #e6e6e6;
}

.suggestions .highlighted {
  background-color: #e6e6e6;
}

