.ui.icon.input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 1.5em;
  font-size: 1em;
  width: 100%;
  position: relative;
  transition: all .14s ease-out;
}

.ui.icon.input:hover:not([disabled]) {
  box-shadow: 0px 3px 0px #000000;
  /* border: 1.5px solid #141414 !important; */
  /* transform: translate(-1px,-1px); */

}

/* style button : transition: all .14s ease-out;
.buttonblack:hover:not([disabled]) {
  box-shadow: 4px 4px 0px #000000;
  border: 1.5px solid #141414 !important;
  transform: translate(-4px,-4px);
  color: #141414 !important; */

.ui.icon.input input {
  flex: 1;
  border: none;
  outline: none;
}

.ui.icon.input input::placeholder {
  font-style: italic;
  color: #c5c3c3;
}

.ui.icon.input i {
  position: absolute;
  right: 0.71em;
  top: 40%;
  transform: translateY(-60%);
  cursor: pointer;
  opacity: 30%;
  color: #c5c3c3;
}


.suggestions {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  /* border: 1px solid #ddd; */
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.suggestions div {
  padding: 12px 16px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #e6e6e6;
}
