  /* The sidebar menu */
.sidebar-container {
  width: 97%; /* 0 width - change this with JavaScript */
  z-index: 1; /* Stay on top */
 }

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 1em;
    position: relative; /* Stay in place */
    top: 4em;
    background-color: #404379;
    overflow-x: hidden; /* Disable horizontal scroll */
    border-radius: 4px;
    border: solid 1px #dd88dd;
    opacity: 0.98;
  }

  .sidebar a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #feaf02;
  }  
  
  .sidebar p {
    color: #ffffff;
  }

  .sidebar h3 {
    color: #ffffff;
  }

  .close.icon {
    position: absolute;
    margin: 0.5em;
    top: 0;
    right: 0;
    font-size: 0.8em;
    color: #ffffff;
    cursor: pointer;
  }

  .close.icon:hover {
    color: #dd88dd;
  }







