  /* The sidebar menu */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    width: 98%; /* 0 width - change this with JavaScript */
    height: 84%;
    position: absolute; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 4em;
    background-color: #404379;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidebar */
    border-radius: 4px;
    border: solid 1px #dd88dd;
    opacity: 0.96;
  }

  .sidebar a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #feaf02;
  }  
  
  .sidebar p {
    color: #ffffff;
  }

  .sidebar h3 {
    color: #ffffff;
    margin-top: 7em;
  }

  .close.icon {
    position: absolute;
    margin: 0.5em;
    top: 0;
    right: 0;
    font-size: 0.8em;
    color: #ffffff;
    cursor: pointer;
  }

  .close.icon:hover {
    color: #dd88dd;
  }





