.footer-container {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 12px;
    color: #23003bab;
    font-weight: bold;
}

.footer-container p .icon {
    margin-top: 5px;
    margin: 3px;
    font-size: 20px;
}